* {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 5;
}

.logo {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #5cb85c;
  font-weight: 700;
}

.logo_type {
  font-size: 20px;
  color: #333;
}

.logo_type p {
  font-size: 15px;
  color: #333;
}

.menu {
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.menu li {
  list-style: none;
  text-transform: uppercase;
  margin-left: 50px;
}

.menu a {
  text-decoration: none;
}

.menu a:hover {
  color: #fd4230;
}

.menu_link {
  color: #332b31;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.promo {
  min-height: 200px;
  background: url("../imeges/promo/promo.jpg") center center/cover no-repeat;
  padding: 170px 0 130px 0;
}

.promo h1 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.promo h1 span:nth-child(1) {
  color: #5cb85c;
}

.promo h1 span:nth-child(2) {
  color: #feb960;
}

.promo h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 82px;
}

.promo p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.promo button {
  display: block;
  margin: 0 auto;
}

.promo_imeges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.promo_text {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.promo_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo a:hover {
  text-decoration: none;
}

.btn {
  width: 180px;
  height: 50px;
  border: none;
  text-transform: uppercase;
}

.plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: speice;
      -ms-flex-pack: speice;
          justify-content: speice;
}

.plus_green {
  color: #3c7f6c;
}

.plus_purple {
  color: #755c99;
}

.plus_orange {
  color: #feb960;
}

.btn {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  text-transform: none;
}

.contact_back {
  padding: 45px;
  background-color: #333;
  min-height: 250px;
  margin-top: -10%;
}

.contact_number {
  height: 60px;
}

.contact_number span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  color: #fff;
  text-align: center;
  height: 30px;
}

.contact_number span:nth-child(3) {
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact img {
  width: 30px;
  height: 30px;
}

.contact p {
  margin: 30px 0 15px 0;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.contact_experience {
  height: 61px;
}

.contact_experience span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  color: #fff;
  text-align: center;
}

.contact_experience span:nth-child(3) {
  font-size: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fl {
  min-height: 500px;
  padding: 50px 0 50px 0;
}

.fl h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.fl_border {
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #333;
}

.fl_border img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fl_border_text {
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 13px;
}

.fl_border_text h3 {
  width: 300px;
  height: 50px;
  text-align: center;
  font-size: 19px;
}

.result {
  min-height: 800px;
  padding-bottom: 50px;
  background: url("../imeges/order/pravo.jpg") center center/cover no-repeat;
}

.result h2 {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
}

.result h3 {
  color: #f1f1f1;
  text-align: center;
  font-size: 35px;
  margin-bottom: 100px;
}

.result_promo {
  color: #e0076d;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}

.result_header {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
}

.result_subheader {
  color: #f1f1f1;
  text-align: center;
  font-size: 24px;
}

.result p {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 30px 0;
}

@media (max-width: 767px) {
  .logo_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .description {
    min-height: 900px;
  }
  .description_photo {
    height: 300px;
    width: 100%;
  }
  .description_text {
    position: absolute;
    width: 80%;
    height: 350px;
    top: 10%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 10%;
  }
  .card {
    width: 220px;
    height: 400px;
    font-size: 14px;
  }
  .card img {
    width: 150px;
    height: 100px;
  }
  .card h5 {
    font-size: 15px;
  }
  .card p {
    width: 210px;
  }
  .card h5 {
    width: 210px;
    height: 50px;
  }
  .text_muted {
    width: 210px;
    height: 40px;
    margin-top: 20px;
  }
  .prices_order h4 {
    font-size: 45px;
  }
  .prices_order h5 {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  .logo {
    height: 75px;
  }
  .logo_type {
    height: 12px;
    width: 26px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    top: 2px;
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
    color: #fff;
  }
  .menu a:hover {
    color: #fd4230;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #333;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .promo {
    padding: 80px 0 25px 0;
  }
  .promo h1 {
    font-size: 52px;
  }
  .plus {
    display: block;
  }
  .plus img {
    margin-top: 50px;
  }
  .card {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    width: 330px;
    height: 410px;
  }
  .card p {
    width: 290px;
  }
  .card img {
    height: 120px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card h5 {
    width: 290px;
    height: 50px;
  }
  .text_muted {
    width: 290px;
  }
  .prices_order a {
    text-decoration: none;
  }
  .prices_order h4 {
    font-weight: 700;
    font-size: 44px;
    margin-top: 50px;
    color: blue;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .promo h1 {
    font-size: 32px;
  }
  .promo h2 {
    font-size: 25px;
  }
  .promo_imeges {
    margin-top: 40px;
  }
  .card {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    width: 250px;
    height: 410px;
  }
  .card img {
    height: 120px;
  }
  .card p {
    width: 230px;
  }
  .card h5 {
    width: 230px;
    height: 50px;
  }
  .text_muted {
    width: 230px;
    height: 40px;
    margin-top: 20px;
  }
  .prices_order a {
    text-decoration: none;
  }
  .prices_order h4 {
    font-weight: 700;
    font-size: 26px;
    margin-top: 50px;
    color: blue;
    text-align: center;
  }
  .prices_order h5 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */